{% extends 'base.html' %}

{% block content %}

    <h1 class="card h-100 alert-success">{{ view.config.title }}</h1>
    <p style="color: lightseagreen"> The Namespace is : {{ view.namespace }}</p>
    <dl class="card-body">
        {% for entry in object_list %}
            <div class="card h-50">
                <dt >
                    <p style="margin-left:24px;color: #0c5460">
                        {{ entry.question }}
                    </p>
                </dt>
                <dd>
                    <p style="margin-left:34px; ">
                        {{ entry.answer }}
                    </p>
                </dd>
            </div>
        {% endfor %}
    </dl>

{% endblock %}